apiVersion: v1
kind: ConfigMap
metadata:
  name: auth-service-config
  namespace: togglemaster
data:
  PORT: "8001"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: flag-service-config
  namespace: togglemaster
data:
  PORT: "8002"
  AUTH_SERVICE_URL: "http://auth-service:8001"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: targeting-service-config
  namespace: togglemaster
data:
  PORT: "8003"
  AUTH_SERVICE_URL: "http://auth-service:8001"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: evaluation-service-config
  namespace: togglemaster
data:
  PORT: "8004"
  REDIS_URL: "redis://redis-cache:6379"
  FLAG_SERVICE_URL: "http://flag-service:8002"
  TARGETING_SERVICE_URL: "http://targeting-service:8003"
  AWS_SQS_URL: "http://localstack:4566/000000000000/togglemaster-events"
  AWS_REGION: "us-east-1"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: analytics-service-config
  namespace: togglemaster
data:
  PORT: "8005"
  AWS_SQS_URL: "http://localstack:4566/000000000000/togglemaster-events"
  AWS_DYNAMODB_TABLE: "ToggleMasterAnalytics"
  AWS_REGION: "us-east-1"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: localstack-config
  namespace: togglemaster
data:
  DEBUG: "1"
  SERVICES: "sqs,dynamodb"
  AWS_DEFAULT_REGION: "us-east-1"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-auth-config
  namespace: togglemaster
data:
  POSTGRES_DB: "auth_db"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-flag-config
  namespace: togglemaster
data:
  POSTGRES_DB: "flags_db"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-targeting-config
  namespace: togglemaster
data:
  POSTGRES_DB: "targeting_db"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: auth-db-init
  namespace: togglemaster
data:
  init.sql: |
    CREATE TABLE IF NOT EXISTS api_keys (
        id SERIAL PRIMARY KEY,
        name VARCHAR(100) NOT NULL,
        key_hash VARCHAR(64) NOT NULL UNIQUE, 
        is_active BOOLEAN DEFAULT true,
        created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
    );
    
    -- API Key para evaluation-service (ambiente de desenvolvimento)
    INSERT INTO api_keys (name, key_hash, is_active) VALUES 
    ('evaluation-service', 'd7bba11e9c6714ef1c017845382033ab7cf421a4c9ecca252c19d3dd43d44d8e', true)
    ON CONFLICT (key_hash) DO NOTHING;
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: flag-db-init
  namespace: togglemaster
data:
  init.sql: |
    CREATE TABLE IF NOT EXISTS flags (
        id SERIAL PRIMARY KEY,
        name VARCHAR(100) UNIQUE NOT NULL, 
        description TEXT,
        is_enabled BOOLEAN NOT NULL DEFAULT false,
        created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
        updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
    );

    CREATE OR REPLACE FUNCTION trigger_set_timestamp()
    RETURNS TRIGGER AS $$
    BEGIN
      NEW.updated_at = NOW();
      RETURN NEW;
    END;
    $$ LANGUAGE plpgsql;

    DROP TRIGGER IF EXISTS set_timestamp ON flags;

    CREATE TRIGGER set_timestamp
    BEFORE UPDATE ON flags
    FOR EACH ROW
    EXECUTE PROCEDURE trigger_set_timestamp();
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: targeting-db-init
  namespace: togglemaster
data:
  init.sql: |
    CREATE TABLE IF NOT EXISTS targeting_rules (
        id SERIAL PRIMARY KEY,
        flag_name VARCHAR(100) UNIQUE NOT NULL,
        is_enabled BOOLEAN NOT NULL DEFAULT true,
        rules JSONB NOT NULL,
        created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
        updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
    );

    CREATE OR REPLACE FUNCTION trigger_set_timestamp()
    RETURNS TRIGGER AS $$
    BEGIN
      NEW.updated_at = NOW();
      RETURN NEW;
    END;
    $$ LANGUAGE plpgsql;

    DROP TRIGGER IF EXISTS set_timestamp ON targeting_rules;

    CREATE TRIGGER set_timestamp
    BEFORE UPDATE ON targeting_rules
    FOR EACH ROW
    EXECUTE PROCEDURE trigger_set_timestamp();
